<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold text-white" href="#">Sistema WEB</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                            <a class="nav-link text-white" href="/consulta">Consulta</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-start fs-5">Edição - Agendamento de Potenciais Clientes</p>
            <p class="text-start fs-6">Sistema utilizado para editar informações de usuários</p>
        </div>
    </div>
    {{#each posts}}
    {{#dataValues}}
    <form action="/atualizar" method="post">
        <div class="row mb-3">
            <div class="col">
                <label for="nome" class="form-label">Nome</label>
                <input type="hidden" id="id" name="id" value="{{id}}">
                <input type="text" class="form-control" id="nome" name="nome" value="{{nome}}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="endereco" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" value="{{endereco}}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="bairro" class="form-label">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" value="{{bairro}}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="cep" class="form-label">CEP</label>
                <input type="text" class="form-control" id="cep" name="cep" value="{{cep}}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade" value="{{cidade}}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="estado" class="form-label">Estado</label>
                <input type="text" class="form-control" id="estado" name="estado" value="{{estado}}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" value="{{telefone}}">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="celular" class="form-label">Celular</label>
                <input type="text" class="form-control" id="celular" name="celular" value="{{celular}}">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn"
                    style="background-color: #6f42c1; color: white; text-align: left;">Cadastrar</button>
            </div>
        </div>
    </form>
    {{/dataValues}}
    {{/each}}
</div>